body {
    background-color: #F0EFE9;
}

.to-do-container {
    margin: 2rem auto;
    padding: 2rem;
    background-color: #FFFFFF;
    height: 90vh;
    max-width: 380px;
}

.to-do-header {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.text-date {
    font-weight: 600;
    margin-right: 0.25rem;
    font-size: 3rem;
}

.text-month {
    font-weight: 600;
    font-size: 1rem;
}

.text-year {
    font-size: 1rem;
}

.to-do-list-group {
    border: none;
    border-bottom: 1px solid #DEE2E6;
    display: flex;
    justify-content: space-between;
}
.add-btn {
    display: flex;
    justify-content: center;
    align-items: center;
    margin: 1rem;
}

